@use '../../scss' as *;

button {
    cursor: pointer;
    font-family: $font-family;
    z-index: 99;
}

.btn {
    border: 4px solid transparent;
    background-color:$main-color;
    color:$white;
    padding: 0.5rem 1.8rem;
    border-radius: $border-radius;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0 0 7px 8px #ff00004d;
    position: relative;
    transition:box-shadow 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 7px 15px #ff00004d;
}

.btn-outline {
    border: 3px solid $white;
    color:$white;
    background-color:transparent;
    box-shadow:unset;
    transition:color 0.3s ease , background-color 0.3s ease;
}

.btn-outline:hover {
    background-color:$white;
    color: $main-color;
    box-shadow:unset;
}

.btn.small {
    border-width: 2px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}